@media (max-width: 1199px) {
    .carousel {
        .prev, .next {
            left: -10px;
        }
        .next {
            right: -10px;
            left: auto;
        }
        &__inner {
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .consultation {
        .consultation__descr {
            padding-left: 10px;
            line-height: 20px;
        }
        .title {
            &_left {
                font-size: 30px;
                line-height: 40px;
                padding-left: 10px;
            }
        }
        .feed-form {
            padding-left: 10px;
        }
    }
    .carousel {
        .prev, .next {
            left: 10px;
        }
        .next {
            right: 10px;
            left: auto;
        }
        &__inner {
            img {
                width: 70%;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &-item {
            margin: 60px 10px 0 10px;
            &__image {
                margin-right: 60px;
                width: 169px;
                height: 169px;
            }
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 220px;
            padding: 30px 45px 40px 45px;
        }
    }
}
@media (max-width: 768px) {
    .carousel {
        &__inner {
            img {
                width: 80%;
            }
        }
        .prev, .next {
            img {
                width: 25px;
                height: 40px;
            }
        }
    }
    .header {
        &__logo {
            width: 185px;
        }
        &__official {
            span {
                font-size: 14px;
            }
        }
        &__contacts {
            a {
                font-size: 14px;
            }
            button {
                width: 120px;
                height: 20px;
                font-size: 10px;
            }
        }
    }
    .benefits {
        &__icons {
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-top: 0;
        }
        &__icon {
            margin-top: 30px;
            h3 {
                margin: 20px 0 10px 0;
            }
        }
    }
    .consultation {
        .consultation__descr {
            font-size: 15px;
            line-height: 15px;
        }
        .title {
            &_left {
                font-size: 20px;
                line-height: 25px;
                padding-left: 10px;
            }
        }
        .feed-form {
            padding-left: 10px;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 160px;
            font-size: 16px;
        }
    }
    .reviews {
        .title {
            font-size: 25px;
        }
        &-item {
            flex-direction: column;
            &__image {
                width: 169px;
                height: 169px;
            }
            &__text {
                margin-top: 15px;
                text-align: left;
            }
            &__descr {
                text-align: left;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            a {
                font-size: 11px;
            }
            button {
                margin-top: 5px;
                width: 97px;
                height: 20px;
                font-size: 9px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 13px;
            margin-top: 0;
        }
        &__icons {
            margin-top: 40px;
            width: 320px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
        }
    }
    .benefits {
        .title {
            font-size: 25px;
        }
    }
    .consultation {
        .consultation__descr {
            font-size: 13px;
            line-height: 15px;
            text-align: left;
        }
        .title {
            &_left {
                font-size: 14px;
                line-height: 20px;
                padding-left: 10px;
                text-align: left;
            }
        }
    }
    .carousel {
        .prev, .next {
            position: absolute;
            top: -40px;
            left: 35%;
        }
        .next {
            right: 35%;
            left: auto;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 30px;
            flex-direction: column;
        }
        &__tab {
            margin-top: 15px;
            width: 220px;
            font-size: 19px;
        }
        .title {
            font-size: 23px;
        }
    }
    .footer {
        &__info {
            width: 250px;
            height: 190px;
            padding: 20px 30px 20px 30px;
        }
        &__addr {
            font-size: 15px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 15px;
        }
        &__social {
            margin-top: 20px;
        }
        &__social-item {
            margin: 0 5px;
        }
    }
    .modal {
        width: 320px;
        padding: 38px 10px 40px 10px;
        &__close {
            top: 5px;
            right: 0px;
        }
    }
}