@import './base/variables';
* {
  font-family: 'Museo Sans Cyrcl', sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/_buttons';
@import 'blocks/_benefits';
@import 'base/media';
@import 'blocks/_title';
@import 'blocks/_consultation';
@import 'blocks/forms';